<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jxt.mapper.BannerMapper">

	<select id="queryBannerByMaxSize" parameterType="int" resultType="banner">
		select * from banner order by update_time desc limit #{maxsize};
	</select>



</mapper>