/*登录模态框 样式调整*/
#loginModal .modal-dialog {
    width: 600px;
    margin: 12% auto;

}
#loginModal .modal-header{
    border: none;
}

#loginModal .modal-content {
    background: url("../img/tcbg.png") no-repeat;
    width: 598px;
    height: 430px;
    position: relative;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
#loginModal .modal-body{
    padding-top: 174px;
    padding-left: 40px;
    padding-right: 40px;
}
.top20{
    margin-top: 21px;
}